extends layout.pug

block content

  nav.nav
    a(href='/about')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1 Theo Lufkin

       
        p Full Stack Front-End Developer


        .about-bio

          
          p Welcome the best portfolio site you've ever seen! My name is Theo, and I will be the hardest working full-stack developer you'll ever know. I've been down many paths, one of which led me to finishing grad school with a masters degree, and finally to my dream career. I love problem solving and completing tasks that add up to amazing applications. I'm looking forward to being a part of your team.  


      .skills-contact-box.box
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        
        ul
          li 617-939-8888
          li theo.lufkin@gmail.com

       
        a.btn-link(href='https://www.linkedin.com/in/theolufkin/' target="_blank") LinkedIn
        a.btn-link(href='https://github.com/TheTheoL' target="_blank") GitHub
        

    nav.nav
      a(href='/')
        span &larr;
        |  Back
