extends layout.pug

block content

  article.portfolio-intro

    
    h1 Hey, Potential Employers!

    
    p Welcome to my online portfolio! I have been working hard in pursuing my dream of becoming a full-stack front-end developer and am happy to share with you the projects I've completed along the way to earning my techdegree. This site showcases five of the JavaScript projects I have completed on my own.


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects 
        .cell
          a(href=`../projects/${project.id}`)
            img.thumbnail(src=`${project.img_urls[0]}`, alt='thumbnail')
            h5= `${project.project_name}`

      