<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/staticimages/profilepic.jpg', alt='profile picture')
        .dev-intro-box

          //- Replace with your name
          h5 Theo Lufkin

          //- Replace with description of who you are, what you do, and why you are so awesome
          p Hi! My name is Theo and I am a full-stack developer who focuses on front-end developement. I am detailed oriented and love to tackle tasks to completion. Thinking on my feet and solving multiple problems at once is one of my favorite hobbies. 

          //- Add path from your '/about' route handler to the href below
          a(href='/about') Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Replace with your name — this is for the mobile layout
          span Theo Lufkin

      block content

  script(src='/static/js/script.js')